header {
    background: white;
    color: black;
    margin: 0 auto;
    width: 100%;
    text-align:center;
}
.head_container{
    width: 970px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    /*background: orange;*/
}
.head_1{
    float: left;
    font-size: 72pt;
    color: #ff7800;
    font-weight: 600;
}
.head_2{
    float: left;
    font-size: 36pt;
    margin: 10px;
    position: relative;
    top:34px;
}
.head_3{
    float:left;
    width: 100px;
    padding-left: 10px;
    vertical-align: bottom;
    border-left: 3px solid;
    border-color: #ff7800;
    position: relative;
    top:56px;
    text-align: left;
}
.head_4 {
    float: right;
    position: relative;
    top: 52px;
}
.head_4 a{
    color: #ff7800;
    text-decoration-line: underline;
}
.head_4 a:hover{
    color: #ff7800;
    text-decoration: none;
}
nav {
    font-weight: 600;
    /*margin-top:50px;*/
    padding: 24px;
    background: #ff7800;
    color: white;
    vertical-align: middle;
}
nav a{
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 13px;
    padding-bottom: 12px;
    margin-top: 7px;
    margin-bottom: 8px;
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: #ff7800;
    text-decoration: none;
    background: #ffffff;
    border-radius: 5px;
}
