@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,500,700&subset=latin,cyrillic);
/* cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v9/IiMFELcoPB-OzGzq14k4ehJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
* {
    font-family: ubuntu;
}
body {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #2e2e2e;
}
h1{
    font-size: 3em;
}
h2 {
    font-size: 2.2em;
}
h3{
    font-size: 1.5em;
}
p{
    padding: 0;
    margin: 0;
    font-size: 1em;
}
.padding_zero{
    padding: 0;
}
/*------------------------HEADER----------------------------*/
.head_1{
    color: #ff7800;
    font-size: 28px;
    text-align: right;
}
.head_2{
    font-size: 3em;
    margin-top: 50px;
    text-align: right;
    padding: 0px;
}
.head_3{
    padding-left: 10px;
    border-left: 3px solid;
    border-color: #ff7800;
    margin-left: 0px;
    margin-top: 60px;
    text-align: left;
}
.head_4 {
    margin-top: 60px;
}
.head_4_text{
    margin-left: 5px;
}
.head_4 a{
    color: #ff7800;
    text-decoration: underline;
}
.head_4 a:hover{
    color: #ff7800;
    text-decoration: none;
}
nav {
    font-weight: 600;
    padding: 24px;
    background: #ff7800;
    color: white;
    position: relative;
    z-index: 100;
}
nav a{
    padding: 13px 32px 12px 32px;
    margin-top: 7px;
    margin-bottom: 8px;
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: #ff7800;
    text-decoration: none;
    background: #ffffff;
    border-radius: 5px;
}
nav a:focus {
    color: white;
    text-decoration: none;
    outline: none;
}
nav a:focus:hover{
    color: #ff7800;
}
/*-------------------------popup----------------------------*/
.popup_input {
    padding: 0 100px;
}
.popup_input input, textarea{
    margin: 10px 0;
}
.popup_btn {
    background: linear-gradient(to top, #ff6300, #ffc600);
    width: 100%;
    padding-top: 0px;
    height: 40px;
    color: white;
    font-size: 1.7em;
    font-weight: 600;
    border-radius: 10px;
}
.popup_btn:hover {
    color: white;
    text-decoration: underline;
}
.popup_btn:active {
    color: white;
}
.popup_btn:visited {
    color: white;
}
.popup_btn:focus{
    color: white;
}
/*-------------------------icon_bar-------------------------*/
.icon_layout{
    background: white;
    border-bottom: 1px solid gray;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    position: relative;
    padding-bottom: 40px;
    z-index:99;
}
.icon {
    margin: 20px 0;
    padding: 20px 0px;
}
.icon_text{
    padding: 0;
    text-align: left;
}
.icon_text_top{
    font-size: 2em;
    font-weight: 600;
    text-align:left;
}
.icon_text_bot{
    text-align:left;
}
/*-------------------------TARIFF--------------------------*/

.tariff_head{
    margin: 0 auto;
    height: 0px;
    width: 450px;
}
.tariff_head_into{
    background: white;
    border: 1px solid gray;
    height: 74px;
    width: 450px;
    position: relative;
    z-index:101;
    top:-40px;
    padding-top: 15px;
    border-radius: 50px;
    font-size: 2em;
}
.tariff_head_into a{
    color: #ff7800;
    text-decoration: underline;
}
.tariff_head_into a:hover{
    color: #ff7800;
    text-decoration: none;
}
/*---------------------applet_layout------------------*/
/*for slider
ui-slider ui-slider-handle
ui-widjet-contant
*/
.applet_layout{
    background: #cccccc;
    padding-top: 50px;
}
.applet {
    padding: 25px;
    margin: 10px 0px 30px 0px;
    background: white;
    border-radius: 10px;
}
.applet_percent {
    font-size: 2.8em;
    font-weight: 600;
    padding: 15px;
}
.applet_days_left{
    padding-left: 20px;
}
.applet_days_left_text{
    padding-top: 2px;
    padding-left: 10px;
}
.applet_days_right{
    padding-right: 20px;
}
.applet_days_right_bot{
    font-size: 7pt;
    color: #555555;
}
.applet_slider{
    padding: 5px;
    margin: 5px;
}
.applet_slider_input{
    width: 80px;
    border:0;
    font-weight:bold;
}
.applet_profit_text{
    padding-top:20px;
}
.applet_profit_count{
    font-size: 2.5em;
    font-weight: 600;
    margin: 0 0 15px 0;
}
.applet_profit_count_input{
    width: 150px;
    border:0;
    font-weight:bold;
    text-align: center;
}
.applet_button {
    height: 40px;
    margin: 20px;
    background: linear-gradient(to top, #ff6300, #ffc600);
    padding-top: 4px;
    font-size: 18pt;
    font-weight: 600;
    border-radius: 5px;
}
.applet_button a{
    text-decoration: none;
    color: white;
    display: block;
}
.applet_button a:hover{
    text-decoration: underline;
    color: white;
}
/*----------------advantage------------------*/
.advantage{
    background: #f0f0f0;
}
.advantage_col{
    margin: 5px;
    padding: 5px 5px 5px 10px;
    /*text-align: left;*/
}
.advantage_col h3{
    height: 40px;
}
/*----------------feedback-------------------*/
.feedback {
    background: #f0f0f0;
}
.feedback h2{
    background: #f0f0f0;
    position: relative;
    z-index: 102;
}
.feedback h2:before{
    content: '';
    border-bottom: 1px solid #888888;
    display: block;
    height: 0;
    width: 1060px;
    position: relative;
    right: -40px;
    top: 20px;
}
.feedback a{
    color: #ff7800;
    background: #f0f0f0;
    z-index: 102;
    text-decoration: underline;
}
.feedback a:hover{
    color: #ff7800;
    text-decoration: none;
}
.feedback_col {
    /*margin: 5px;*/
    padding: 5px;
}
.feedback_col_name {
    font-weight: 400;
}
.feedback_col_city {
    color: #888888;
}
.feedback_col_text{
    margin-top: 10px;
    padding: 0 10px;
    background: white;
}
/*.feedback_col_text:*/
.feedback_col div.feedback_col_text:hover{
    background: #ff7800;
    color: white;
}

/*----------------bottom_form------------------*/
.bottom_form{
    background: white;
    padding: 10px 0px 0px 0px;
}
.bottom_form_layout{
    margin: 40px 0px;

}
.bottom_form_space{
    margin-bottom: 50px;
}
/*.btn-warning{*/
    /*font-weight: 600;*/
    /*font-size: 0.8em;*/
/*}*/
#bot_button {
    color: white;
    background: linear-gradient(to top, #ff6300, #ffc600);
    font-weight: 600;
    font-size: 1.6em;
}
/*-------------------FOOTER---------------------*/
footer{
    background: #f0f0f0;
    padding: 25px 0px;
}
.footer_left span{
    text-align: left;
}
footer a{
    color: #555555;
    text-decoration: underline;
}
footer a:hover{
    color: #555555;
    text-decoration: none;
}
