.tariff_head{
    margin: 0 auto;
    height: 0px;
    width: 450px;
}
.tariff_head_into{
    background: white;
    border: 1px solid gray;
    margin: 0 auto;
    height: 74px;
    width: 450px;
    position: absolute;
    z-index:101;
    top:390px;
    padding-top: 26px;
    border-radius: 50px;
    font-size: 24pt;
}
.tariff_head_into a{
    color: #ff7800;
    text-decoration: underline;
}
.tariff_head_into a:hover{
    color: #ff7800;
    text-decoration: none;
}
.tariff_content{
    background: #cccccc;
    padding-top: 70px;
    height:400px;
    margin: 0 auto;
}
.tariff_content_into{
    height: 20px;
    margin: 0 auto;
}
.applet {
    width: 300px;
    /*height: 330px;*/
    margin: 10px;
    background: white;
    float: left;
    border-radius: 10px;
}
.applet_percent {
     font-size: 42pt;
    font-weight: 600;
    padding: 20px;
}
.applet_days{
    width: inherit;
}
.applet_days_left{
    padding-left: 20px;
}
.applet_days_left img{
    float: left;
}
.applet_days_left_text{
    float: left;
    padding-top: 2px;
    padding-left: 10px;
}
.applet_days_right{
    float: right;
    padding-right: 20px;
}
.applet_days_right_top{
}
.applet_days_right_bot{
    font-size: 7pt;
    color: #555555;
}
.applet_slider{
    padding: 20px;
}
.applet_slider_text{
    float: left;
}
.applet_slider_slider{
    float:right;
    /*background: #ff7800;*/
}
.applet_profit_text{
    padding-top:20px;
}
.applet_profit_count{
    font-size: 32pt;
    font-weight: 600;
}
.applet_button{
    height: 40px;
    margin: 20px;
    background: #ff9c00;
    color: white;
    padding-top: 10px;
    font-size: 18pt;
    font-weight: 600;
    border-radius: 5px;
}