header
    .container
        .row.head_row
            .col-md-6.head_1
                a(href="#")
                    img(src="./img/logo.png")
            .col-md-6
                .head_4.text-right
                    i.fa.fa-user(aria-hidden="true")
                    span.head_4_text
                        a(href="#") Войти
                        span &nbspили&nbsp
                        a(href="#") зарегистрироваться
    nav
        a(href="#") О НАС
        a(href="#") ТАРИФЫ
        a(href="#") ПРАФИЛА
        a(href="#") FAQ
        a(href="#") ОТЗЫВЫ
        a(href="#") КОНТАКТЫ
        a(href="#" data-toggle="modal" data-target="#popup") ОБРАТНАЯ СВЯЗЬ
    .container
        .modal.fade(id="popup" role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                        h2.modal-title Обратная связь
                    .modal-body
                        .row
                            .popup_input
                                input.form-control(type="text" placeholder="Имя")
                                input.form-control(type="email" placeholder="email")
                                textarea.form-control(rows="3" placeholder=" сообщение")
                                button.btn.popup_btn(type="button") Отправить
