head
    title ТЕСТОВАЯ СТРАНИЦА
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='./css/bootstrap.min.css')
    link(rel='stylesheet' href='./css/styles.css')
    link(rel="stylesheet" href='./css/font-awesome.min.css')
    link(rel="stylesheet" href='./css/jquery.css')
    script(src="./jquery/jquery-1.12.4.js")
    script(src="./jquery/jquery-ui.js")
    //script(src="https://use.fontawesome.com/9558d9367c.js")
    scrip
//<script>
//$( function() {
//$( "#slider" ).slider();
//} );
//</script>