head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title TRADER inc
    link(rel='stylesheet' href='./css/bootstrap.min.css')
    link(rel="stylesheet" href='./css/font-awesome.min.css')
    link(rel="stylesheet" href='./css/jquery-ui.css')
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,500,700&subset=latin,cyrillic" rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='./css/styles.css')
    //script(src="https://use.fontawesome.com/9558d9367c.js")