header
    .container
        .row.head_row
            .col-md-6.head_1
                a(href="#")
                    img(src="./img/logo.png")
                    h1 TRADER inc инвестиционный сервис
            .col-md-6
                .head_4.text-right
                    i.fa.fa-user(aria-hidden="true")
                    span.head_4_text
                        a(href="#") Войти
                        span &nbspили&nbsp
                        a(href="#") зарегистрироваться
    nav
        .container
            .row
                .col-md-9
                    .row.six_row
                        .col-md-1.left-cols
                            a(href="#") О НАС
                        .col-md-1.left-cols
                            a(href="#") ТАРИФЫ
                        .col-md-1.left-cols
                            a(href="#") ПРАВИЛА
                        .col-md-1.left-cols
                            a(href="#") FAQ
                        .col-md-1.left-cols
                            a(href="#") ОТЗЫВЫ
                        .col-md-1.left-cols
                            a(href="#") КОНТАКТЫ
                .col-md-3
                    a.callback_btn(href="#" data-toggle="modal" data-target="#popup") Обратная связь
    .container
        .modal.fade(id="popup" role="dialog")
            .modal-dialog
                .modal-content.popup
                    .modal-header
                        button.close.text-right(type="button" data-dismiss="modal" aria-hidden="true") &times;
                        h2.modal-title.text-left Обратная связь
                    form.modal-body.user_form
                        .row
                            .input-group
                                input.form-control(type="text" placeholder="Имя")
                                .input-group-addon Имя
                            .input-group
                                input.form-control(type="email" placeholder="Email")
                                .input-group-addon Email
                            p.text-left Сообщение
                            textarea.form-control(rows="3")
                            button.btn.button(type="submit" id="popup_button") Отправить
