doctype html
html(lang="ru")
    include ./blocks/head.jade
    body
        header
            .container
                .row
                    .col-md-5.head_1.tbg TRADER
                    .col-md-1.head_2.tbg2 inc
                    .col-md-2.head_3.tbg3 инвестиционный сервис
                    .col-md-4.head_4.tbg1
                        a(href="#") Войти
                        span &nbsppили&nbsp
                        a(href="#") зарегистрироваться
            nav
                a(href="#") О НАС
                a(href="#") ТАРИФЫ
                a(href="#") ПРАФИЛА
                a(href="#") FAQ
                a(href="#") ОТЗЫВЫ
                a(href="#") КОНТАКТЫ
                a(href="#") ОБРАТНАЯ СВЯЗЬ


