doctype html
html(lang="ru")
    meta(charset="utf-8")
    head
        title ТЕСТОВАЯ СТРАНИЦА
        link(rel='stylesheet' href='./css/main.css')
        link(rel='stylesheet' href='./css/header.css')
        link(rel='stylesheet' href='./css/icon_bar.css')
        link(rel='stylesheet' href='./css/tariff.css')
        link(rel='stylesheet' href='./css/advantage.css')
        link(rel='stylesheet' href='./css/feedback.css')
    body
        header
            .container.head_container
                span.head_1 TRADER
                span.head_2 inc
                .head_3 Инвестиционный сервис
                .head_4 <a href="#">Войти</a> или <a href="#">зарегистрироваться</a>
                .clear
            nav
                a(href="#") О НАС
                a(href="#") ТАРИФЫ
                a(href="#") ПРАФИЛА
                a(href="#") FAQ
                a(href="#") ОТЗЫВЫ
                a(href="#") КОНТАКТЫ
                a(href="#") ОБРАТНАЯ СВЯЗЬ
        .icon_bar
            .container.icon_layer
                .icon
                    img(src="./img/people.png")
                    .icon_text
                        .icon_text_top 6823
                        .icon_text_bot инвесторов
                .icon
                    img(src="./img/money.png")
                    .icon_text
                        .icon_text_top 7682640
                        .icon_text_bot инвестировано
                .icon
                    img(src="./img/stack.png")
                    .icon_text
                        .icon_text_top 738137
                        .icon_text_bot выплачено
                .icon
                    img(src="./img/cub.png")
                    .icon_text
                        .icon_text_top 100%
                        .icon_text_bot выплат
                .clear
        .tariff_head
            .tariff_head_into Выбери <a href="#">тариф</a>, и вперёд!
        .tariff_content
            .container.tariff_content_into
                .applet
                    .applet_percent 8%
                    .applet_days
                        .applet_days_left
                            img(src="./img/clock.png")
                            .applet_days_left_text 10 дней
                        .applet_days_right
                            .applet_days_right_top 500 - 4999 Р
                            .applet_days_right_bot диапазон размера вкладов
                        .clear
                    .applet_slider
                        .applet_slider_text 3500
                        .applet_slider_slider слайдер здесь будет
                    .clear
                    .applet_profit_text Ваша прибыль
                    .applet_profit_count 1 600 Р
                    .applet_button Открыть вклад
                .applet
                    .applet_percent 20%
                    .applet_days
                        .applet_days_left
                            img(src="./img/clock.png")
                            .applet_days_left_text 20 дней
                        .applet_days_right
                            .applet_days_right_top 5000 - 9999 Р
                            .applet_days_right_bot диапазон размера вкладов
                        .clear
                    .applet_slider
                        .applet_slider_text 7500
                        .applet_slider_slider слайдер здесь будет
                    .clear
                    .applet_profit_text Ваша прибыль
                    .applet_profit_count 2 600 Р
                    .applet_button Открыть вклад
                .applet
                    .applet_percent 32%
                    .applet_days
                        .applet_days_left
                            img(src="./img/clock.png")
                            .applet_days_left_text 30 дней
                        .applet_days_right
                            .applet_days_right_top 10000 - 15000 Р
                            .applet_days_right_bot диапазон размера вкладов
                        .clear
                    .applet_slider
                        .applet_slider_text 12000
                        .applet_slider_slider слайдер здесь будет
                    .clear
                    .applet_profit_text Ваша прибыль
                    .applet_profit_count 11 600 Р
                    .applet_button Открыть вклад
                .clear
        .advantage
            .container.advantage_into
                h2 Приемущества работы с нами
                p За 4 года работы мы выработали и готовы ввм предложить следующие преимущества, относительно других сервисов!
                .advantage_col
                    img(src="./img/shield.png")
                    h3 100% гарантия
                    p Товарищи! консультация с широким активом играет важную роль в формировании модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
                .advantage_col
                    img(src="./img/lock.png")
                    h3 Надёжная защита
                    p Товарищи! консультация с широким активом играет важную роль в формировании модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
                .advantage_col
                    img(src="./img/speedometr.png")
                    h3 Быстрые выплаты
                    p Товарищи! консультация с широким активом играет важную роль в формировании модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
                .advantage_col
                    img(src="./img/set.png")
                    h3 Техническая поддержка
                    p Товарищи! консультация с широким активом играет важную роль в формировании модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
        .feedback
            h2 <a href="#">Отзывы</a> наших инвесторов
            .container.advantage_into
                .feedback_col
                    .feedback_col_top
                        img(src="./img/photo_1.png")
                        .feedback_col_name Ольга
                        .feedback_col_surname Вокова
                        .feedback_col_city Баранул
                .feedback_col
                    img(src="./img/photo_2.png")
                    div Ольга Волкова
                .feedback_col
                    img(src="./img/photo_3.png")
                    div Ольга Волкова
                .feedback_col
                    img(src="./img/photo_4.png")
                    div Ольга Волкова
