doctype html
html(lang="ru")
    include ./blocks/head.jade
    body
        include ./blocks/header.jade
        .icon_layout
            .container
                .row.icon
                    .col-md-3
                        .row
                            .col-xs-4
                                i.fa.fa-users.icon_font(aria-hidden="true")
                            .col-xs-8.icon_text
                                    span.icon_text_top 6 823
                                    br
                                    p.icon_text_bot инвесторов
                    .col-md-3
                        .row
                            .col-xs-4
                                i.fa.fa-rub.icon_font(aria-hidden="true")
                            .col-xs-8.icon_text
                                span.icon_text_top 7 782 640 P
                                br
                                span.icon_text_bot инвестировано
                    .col-md-3
                        .row
                            .col-xs-4
                                i.fa.fa-stack-overflow.icon_font(aria-hidden="true")
                            .col-xs-8.icon_text
                                span.icon_text_top 738 175 P
                                br
                                span.icon_text_bot выплачено
                    .col-md-3
                        .row
                            .col-xs-4
                                i.fa.fa-trophy.icon_font(aria-hidden="true")
                            .col-xs-8.icon_text
                                span.icon_text_top 100%
                                br
                                span.icon_text_bot выплат
        .tariff_head
            .tariff_head_into='Выбери '
                a(href="#") тариф
                span=' и вперёд!'
        .applet_layout
            .container
                .row
                    .col-md-4
                        .applet
                            .applet_percent 8%
                            .row
                                .col-xs-6
                                    .row
                                        .col-xs-3.text-right.padding_zero
                                            img(src="./img/clock.png")
                                        .col-xs-9.text-left
                                            p 10 дней
                                .col-xs-6.applet_days_right
                                    span 500 - 4999 Р
                                    br
                                    span.applet_days_right_bot диапазон размера вкладов
                            .applet_slider
                                .row
                                    .col-xs-4.text-left
                                        input.applet_slider_input(type="text" id="amount" readonly)
                                    .col-xs-8.text-right
                                        div.applet_slider(id="slider")
                            .applet_profit_text Ваша прибыль
                            .applet_profit_count
                                input.applet_profit_count_input(type="text" id="amount_count" readonly)
                            .applet_button
                                a(href="#") Открыть вклад
                    .col-md-4
                        .applet
                            .applet_percent 20%
                            .row
                                .col-xs-6
                                    .row
                                        .col-xs-3.text-right.padding_zero
                                            img(src="./img/clock.png")
                                        .col-xs-9.text-left
                                            p 20 дней
                                .col-xs-6.applet_days_right
                                    span 5000 - 9999 Р
                                    br
                                    span.applet_days_right_bot диапазон размера вкладов
                            .applet_slider
                                .row
                                    .col-xs-4.text-left
                                        input.applet_slider_input(type="text" id="amount2" readonly)
                                    .col-xs-8.text-right
                                        div.applet_slider(id="slider2")
                            .applet_profit_text Ваша прибыль
                            .applet_profit_count
                                input.applet_profit_count_input(type="text" id="amount_count2" readonly)
                            .applet_button
                                a(href="#") Открыть вклад
                    .col-md-4
                        .applet
                            .applet_percent 32%
                            .row
                                .col-xs-6
                                    .row
                                        .col-xs-3.text-right.padding_zero
                                            img(src="./img/clock.png")
                                        .col-xs-9.text-left
                                            p 30 дней
                                .col-xs-6.applet_days_right
                                    span 10000 - 15000 Р
                                    br
                                    span.applet_days_right_bot диапазон размера вкладов
                            .applet_slider
                                .row
                                    .col-xs-4.text-left
                                        input.applet_slider_input(type="text" id="amount3" readonly)
                                    .col-xs-8.text-right
                                        div.applet_slider(id="slider3")
                            .applet_profit_text Ваша прибыль
                            .applet_profit_count
                                input.applet_profit_count_input(type="text" id="amount_count3" readonly)
                            .applet_button
                                a(href="#") Открыть вклад

        .advantage
            .container
                h2 Приемущества работы с нами
                p За 4 года работы мы выработали и готовы ввм предложить следующие преимущества, относительно других сервисов!
                .row
                    .col-md-3
                        .advantage_col
                            img(src="./img/shield.png")
                            h3 100% гарантия
                            p Товарищи! консультация с широким активом играет важную роль в формировании модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
                    .col-md-3
                        .advantage_col
                            img(src="./img/lock.png")
                            h3 Надёжная защита
                            p Товарищи! консультация с широким активом играет важную роль в формировании модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
                    .col-md-3
                        .advantage_col
                            img(src="./img/speedometr.png")
                            h3 Быстрые выплаты
                            p Товарищи! консультация с широким активом играет важную роль в формировании модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
                    .col-md-3
                        .advantage_col
                            img(src="./img/set.png")
                            h3 Техническая поддержка
                            p Товарищи! консультация с широким активом играет важную роль в формировании модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
        .feedback
            .container
                .feedback_h
                    h2
                        a(href="#") Отзывы
                        span=' наших инвесторов'
                .row
                    .col-md-3
                        .feedback_col
                            .row
                                .col-md-4.text-left
                                    img(src="./img/photo_1.png")
                                .col-md-8.text-left
                                    .feedback_col_name Ольга Вокова
                                    .feedback_col_city Саратов
                            .feedback_col_text.text-left
                                div
                                    p Товарищи! консультация с широким активом играет важную роль в формировании модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
                    .col-md-3
                        .feedback_col
                            .row
                                .col-md-4.text-left
                                    img(src="./img/photo_2.png")
                                .col-md-8.text-left
                                    .feedback_col_name Олег Кочетков
                                    .feedback_col_city Баранул
                            .feedback_col_text.text-left
                                p Товарищи! консультация с широким активом играет важную роль в формировании модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
                    .col-md-3
                        .feedback_col
                            .row
                                .col-md-4.text-left
                                    img(src="./img/photo_3.png")
                                .col-md-8.text-left
                                    .feedback_col_name Инна Невская
                                    .feedback_col_city Москва
                            .feedback_col_text.text-left
                                p Товарищи! консультация с широким активом играет важную роль в формировании модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
                    .col-md-3
                        .feedback_col
                            .row
                                .col-md-4.text-left
                                    img(src="./img/photo_4.png")
                                .col-md-8.text-left
                                    .feedback_col_name Александр Загибайлов
                                    .feedback_col_city Новосибирск
                            .feedback_col_text.text-left
                                p Товарищи! консультация с широким активом играет важную роль в формировании модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Товарищи! консультация с широким активом играет важную роль в формировании модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
        .bottom_form
            h2 Начни зарабатывать СЕЙЧАС
            .container
                .bottom_form_layout
                    form
                        .row
                            .bottom_form_space
                                .col-md-4
                                    input.form-control(type="text" placeholder="Имя")
                                .col-md-4
                                    input.form-control(type="text" placeholder="Фамилия")
                                .col-md-4
                                    input.form-control(type="email" placeholder="Email")
                        button.btn(type="submit" id="bot_button") Зарегистрироваться
        footer
            .container
                .row
                    .col-md-6
                        .footer_left
                            p.text-left &copy Trader inc.
                    .col-md-6
                        .row
                            .col-md-2
                                a(href="#") О нас
                            .col-md-2
                                a(href="#") Тарифы
                            .col-md-2
                                a(href="#") Правила
                            .col-md-2
                                a(href="#") FAQ
                            .col-md-2
                                a(href="#") Отзывы
                            .col-md-2
                                a(href="#") Контакты
        include ./blocks/script.jade