doctype html
html(lang="ru")
meta(charset="utf-8")
html
    head
        title ТЕСТОВАЯ СТРАНИЦА
        link(rel='stylesheet' href='./css/main.css')
        link(rel='stylesheet' href='./css/header.css')
        link(rel='stylesheet' href='./css/icon_bar.css')
        link(rel='stylesheet' href='./css/tariff.css')
    body
        header
            .head_container
                span.head_1 TRADER
                span.head_2 inc
                .head_3 Инвестиционный сервис
                .head_4 <a href="#">Войти</a> или <a href="#">зарегистрироваться</a>
                .clear
            nav
                a(href="#") О НАС
                a(href="#") ТАРИФЫ
                a(href="#") ПРАФИЛА
                a(href="#") FAQ
                a(href="#") ОТЗЫВЫ
                a(href="#") КОНТАКТЫ
                a(href="#") ОБРАТНАЯ СВЯЗЬ
            .icon_bar
                .icon_layer
                    .icon
                        img(src="./img/people.png")
                        .icon_text
                            .icon_text_top 6823
                            .icon_text_bot инвесторов
                    .icon
                        img(src="./img/money.png")
                        .icon_text
                            .icon_text_top 7682640
                            .icon_text_bot инвестировано
                    .icon
                        img(src="./img/stack.png")
                        .icon_text
                            .icon_text_top 738137
                            .icon_text_bot выплачено
                    .icon
                        img(src="./img/cub.png")
                        .icon_text
                            .icon_text_top 100%
                            .icon_text_bot выплат
                    .clear
            .tariff_head
                .tariff_head_into Выбери <a href="#">тариф</a>, и вперёд!
            .tariff_content
                .tariff_content_into
                    .applet 8%
                    .applet 20%
                    .applet 32%
                    .clear


