.advantage{
    margin: 0 auto;
    padding-top:1px; /*ОШИБКА БЕЗ ПАДИНГА ВЫЛАЗИТ БЕЛАЯ ПОЛОСА WTF??????*/
    background: #eeeeee;
    height:600px;
}
.advantage_into{
    margin: 0 auto;
}
.advantage_col{
    margin: 5px;
    padding: 5px;
    width: 222px;
    float: left;
}
.advantage_col h3{
    height: 40px;
}

