.feedback {
    margin: 0 auto;
    padding-top:1px; /*ОШИБКА БЕЗ ПАДИНГА ВЫЛАЗИТ БЕЛАЯ ПОЛОСА WTF??????*/
    background: #eeeeee;
    height:600px;
}
.feedback_into{
    margin: 0 auto;
    background: #eeeeee;
}
.feedback a{
    color: #ff7800;
    text-decoration: underline;
}
.feedback a:hover{
    color: #ff7800;
    text-decoration: none;
}
.feedback_col {
    margin: 5px;
    padding: 5px;
    width: 222px;
    float: left;
}
.feedback_col img{
    float: left;
    height: 64px;
    width: 64px;
    display: block;
}
.feedback_col_name {
    margin-left: 70px;
    text-align: left;
}
.feedback_col_city {
    margin-left: 70px;
    text-align: left;
    color: #888888;
}
.feedback_col_text{
    float: left;
    text-align: left;
}
.feedback_col_text{
    float: left;
    text-align: left;
}