body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: #2e2e2e;
}
h1{
    font-size: 48pt;
}
h2 {
    font-size: 24pt;
}
h3{
    font-size: 18pt;
}
p{
    padding: 0px;
}
.tbg{
    background: chartreuse;
}
.tbg2{
    background: darkblue;
}
.tbg3{
    background: darkmagenta;
}
/*.container{*/
    /*width: 970px;*/
/*}*/
.clear {clear: both;} /*отмена обтекания*/